@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

// ----- main variables ----- //
$offset: 15px;

// ----- color variables ----- //
$primary-color: #ce6244;
$secondary-color: lighten($primary-color, 35);

$bg-color-primary: #ffede0;

// ----- font variables ----- //
$font-primary: "Nunito", sans-serif;

$font-color-dark: #3b3236;
$font-color-light: #ffede0;
$font-color-accent: $primary-color;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-md: 26px;
$font-size-lg: 46px;

// ----- main styles ----- //
html {
  scroll-behavior: smooth;
}

body {
  color: $font-color-dark;
  background-color: $bg-color-primary;

  font-family: $font-primary;
  font-size: $font-size-md;
  font-weight: $font-weight-normal;
}

.content {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 2 * $offset;
    position: relative;
    margin: $offset;
  }
}

// ----- logo ----- //
.logo {
  font-weight: $font-weight-bold;
  color: $font-color-accent;
}

// ----- title ----- //
.title {
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;

  &_left {
    text-align: left;
  }

  &_center {
    text-align: center;
  }
}

// ----- button link ----- //
.button {
  display: block;
  padding: $offset 2 * $offset;
  text-align: center;
  white-space: nowrap;
  border-radius: 15px;

  &_primary {
    color: $font-color-light;
    background-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 3);
    }

    &:active {
      background-color: darken($primary-color, 7);
    }
  }

  &_secondary {
    color: $font-color-dark;
    background-color: $secondary-color;

    &:hover {
      background-color: darken($secondary-color, 3);
    }

    &:active {
      background-color: darken($secondary-color, 7);
    }
  }
}

// ----- header ----- //
.header {
  margin: $offset 0;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  column-gap: 2 * $offset;

  &__nav {
    display: flex;
    column-gap: 2 * $offset;
  }
}

// ----- content section ----- //
.section {
  display: flex;
  justify-content: space-between;
  row-gap: 2 * $offset;
  column-gap: 2 * $offset;

  &_row {
    flex-direction: row;
  }

  &_column {
    flex-direction: column;
  }

  &__column {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    row-gap: 2 * $offset;
  }

  &__actions-wrapper {
    display: flex;
    column-gap: $offset;
  }

  &__title-image {
    border-radius: 150px 30px 30px 30px;
  }

  &__cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: $offset;
    column-gap: $offset;
  }
}

// ----- product card ----- //
.card {
  position: relative;
  width: 320px;
  padding: 2 * $offset;

  display: flex;
  flex-direction: column;
  row-gap: $offset;

  border-radius: 20px;
  background-color: lighten($bg-color-primary, 5);

  &__imageWrapper {
    border-radius: 10px;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.2s;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  &:hover &__image {
    transform: scale(1.2);
  }
}

// ---------- dialog prchase ---------- //
.dialog {
  margin: auto auto;
  padding: 2 * $offset;
  border-radius: 20px;

  &__title {
    margin-bottom: 2 * $offset;
  }

  &__actionsWrapper {
    display: flex;  
    column-gap: 20px;
    justify-content: end;
  }

  &::backdrop {
    background-color: rgba(17, 16, 20, 0.671);
    backdrop-filter: blur(5px);
  }
}

// ----- media query ----- //
@media (max-width: 700px) {
  .section {
    flex-wrap: wrap;

    &__column {
      flex-basis: 100%;
      align-items: center;
      text-align: center;
    }

    &__title-image {
      display: none;
    }
  }
}
